.wrap.footer
	.touchus
		a(href='#')
			h3 Send Us An Email
			img(src='../img/play.svg')
	.touchus
		a(href='#')
			h3 Contact through Twitter
			img(src='../img/play.svg')
	
	//- ul
	//- 	li &copy;2015 The Black Currant
	//- 	li: a.contact(href='mailto:info@theblackcurrant.net') Contact
	//- 	li: a.twitter(href='//twitter.com/blackcurrantbk' target='_blank') Twitter
	//- 	li: a.fb(href='//facebook.com/blackcurrantbk' target='_blank') Facebook
	//- 	li: a.instagram(href='//instagram.com/blackcurrantbk' target='_blank') Instagram
	//- 	li: a.soundcloud(href='//soundcloud.com/the_black_currant' target='_blank') Soundcloud
