nav
	.logo
		a(href='/')
			img(src='../img/about/logo.svg')
	ul
		li: a(href='tv.html') TV
		li: a(href='digital.html') Digital / Web
		li: a(href='mastering.html') Mastering
		li: a(href='profiles.html') Profiles
