doctype html
html
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='The Black Currant', content='Home of The Black Currant')
    meta(name='The Black Currant', content= "author of the site")
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Music for Motion
    link(rel='stylesheet', href='/css/master.css')
    <script type="text/javascript" src="//use.typekit.net/nhi3mtn.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  body
    #header
      nav
        .logo
          a(href='/')
            img(src='../img/about/logo.svg')
        ul
          li: a(href='tv.html') TV
          li: a(href='digital.html') Digital / Web
          li: a(href='mastering.html') Mastering
          li: a(href='profiles.html') Profiles
    #post
      block content
                  
      footer
        include ../partials/_footer

  script(data-main="js/main", src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.9/require.min.js")
