extends _layout-main

block content
  #home
    #intro
      #blurb
        video#bgvid(autoplay='', loop='', poster='http://theblackcurrant.net/images/tn/canalsport.jpg')
          //- source(src='../video/video-bg.webm', type='video/webm')
          //- source(src='http://theblackcurrant.net/media/CANAL-WIMBLEPONG-HD.mp4', type='video/mp4')
        a(href='#')
          .play
            img(src='../img/play.svg')
          h1 We Make Music For Motion
      //- .video
      //-   video(autoplay='', loop='', poster='http://theblackcurrant.net/images/tn/canalsport.jpg')
      //-     source(src='../video/video-bg.webm', type='video/webm')
      //-     //- source(src='http://theblackcurrant.net/media/CANAL-WIMBLEPONG-HD.mp4', type='video/mp4')            
    #whatwedo
      h2 Our Capabilities 
      .skill
        a(href='tv.html')
          img(src='../img/play.svg')
          h3 TV
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
      .skill
        a(href='tv.html')
          img(src='../img/play.svg')
          h3 TV
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
      .skill
        a(href='tv.html')
          img(src='../img/play.svg')
          h3 TV
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
          
        
    #ourstudios
      .studio
        .photo
          img(src='../img/about/shsha-studio.jpg')
        .description
          h2 The Happy Fun Time Place
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          
      .studio  
        .photo
          img(src='../img/about/shsha-studio2.jpg')
        .description
          h2 The Secret Dungeon
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          
      .studio  
        .photo
          img(src='../img/about/shsha-studio3.jpg')
        .description
          h2 Mr Quick Fingers
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                     
    //- #posts
    //-     ul
    //-       li
    //-         .post-thumbnail
    //-           a(href='/posts/intel.html')
    //-             span.space
    //-               | Intel and Wearables 
    //-             img(src='../img/case_studies/intel-thumb.png')
    //-       li
    //-         .post-thumbnail
    //-           a(href='/posts/shareatree2014.html')
    //-             span.space
    //-               | NBC Shares Trees
    //-             img(src='../img/case_studies/nbc-thumb.png')
    //-       li
    //-         .post-thumbnail
    //-           a(href='/posts/atlantic_records.html')
    //-             span.space
    //-               | Atlantic Records Goes Digital
    //-             img(src='../img/case_studies/atlrec-thumb.png')
    //-       li
    //-         .post-thumbnail
    //-           a(href='/posts/target_diapers.html')
    //-             span.space
    //-               | Target + Good Co. Facebook App
    //-             img(src='../img/case_studies/target-thumb.png')
    //-       li
    //-         .post-thumbnail
    //-           a(href='/posts/wakaflocka.html')
    //-             span.space
    //-               | Waka Flocka Rebrands 
    //-             img(src='../img/case_studies/wakaflocka-thumb.jpg')
    //-       li
    //-         .post-thumbnail
    //-           a(href='/posts/intermedia.html')
    //-             span.space
    //-               | Intermedia Takes Me on a Journey
    //-             img(src='../img/case_studies/intermedia-thumb.png')
    //-       li
    //-         .post-thumbnail
    //-           a(href='/posts/honesttea.html')
    //-             span.space
    //-               | Honest Tea - The National Honesty Index
    //-             img(src='../img/case_studies/honesttea-thumb.png')
    //-       li
    //-         .post-thumbnail
    //-           a(href='/posts/gostrengths.html')
    //-             span.space
    //-               | GoStrengths! Powers Through W/Positivity
    //-             img(src='../img/case_studies/gostrengths-thumb.jpg')
    //-       li
    //-         .post-thumbnail
    //-           a(href='/posts/communicating_design.html')
    //-             span.space
    //-               | How I Communicate Design
    //-             img(src='../img/case_studies/communicating-thumb.png')

    //- #previous
      .wrap
        p Previously done work for
        .logos
          a(href="http://vice.com")
            img(src="../img/brands/vice.svg")
          a(href="http://target.com")
            img(src="../img/brands/target.svg")
          a(href="http://intel.com")
            img(src="../img/brands/intel.svg")
          a(href="http://www.nbcuni.com/")
            img(src="../img/brands/nbc.svg")
          a(href="http://barilla.com")
            img(src="../img/brands/barilla.svg")
          a(href="http://warnerbrosrecords.com/")
            img(src="../img/brands/warner.svg")
    
