extends _layout-main

block content
  #tv
    h1 Music for Television
    ul
      li
        a(href='tv/canalsport.html') Canal Sport
      li
        a(href='tv/canalsport2.html') Canal Sport
      

        
