footer
  col()
  border-top: 10px solid bc3
  background: bc1
  .touchus
    col(1/2)
    a
      color: bc2
      display: block
      text-align: center
      background: bc1
      padding: 2em
      text-decoration: none
      &:hover
        background: bc3
