#profiles
  padding-top: 5%
  center(1200px)
  .profile
    col()
    padding: 2em 0
    margin: 2em 0
    .pic
      col(1/2)
      +below(800px)
        col()
    .text
      col(1/2)
      +below(800px)
        col()
